.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fc;
  flex-direction: column;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }
    .text {
      font-size: 24px;
      font-weight: bold;
      color: #344563;
      padding: 0 10px;
    }
  }
  .progress-bar {
    position: relative;
    width: 300px;
    height: 12px;
    background-color: white;
    border-radius: 8px;
    margin: 20px 0;
    .filler {
      background-image: linear-gradient(to right, #0addb9 , #2424a0);
      left: 0;
      height: 12px;
      width: 0;
      border-radius: inherit;
      transition: width .1s linear;
    }
  }
}